@model LYSAdmin.Model.House
@{
    ViewBag.Title = "House";
}
<link href="~/Content/Custom/Houses.css" rel="stylesheet" />
<div class="row  border-bottom white-bg dashboard-header">
    <!--Center Content-->
    <div class="col-sm-9">
        
                <h3 class="m-t-none m-b">Add new House</h3>
                <ul>
                    <li>
                        <div class="accordion-heading" data-head="basicInfoHead" data-body="basicInfoBody" data-next="bouncy">
                            <div>
                                <h3><span class="badge">1</span>Basic Information</h3>
                            </div>
                        </div>
                    </li>
                </ul>              
            </div>

    <div class="col-sm-3">
        <div class="statistic-box">
            <h4>
                Project Beta progress
            </h4>
            <p>
                You have two project with not compleated task.
            </p>
            <div class="row text-center">
                <div class="col-lg-6">
                    <canvas id="polarChart" width="80" height="80"></canvas>
                    <h5>Kolter</h5>
                </div>
                <div class="col-lg-6">
                    <canvas id="doughnutChart" width="78" height="78"></canvas>
                    <h5>Maxtor</h5>
                </div>
            </div>
            <div class="m-t">
                <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script>
        //reference url
        var HousesUrl = '@Url.Action("Houses","Properties")';

        $(document).ready(function () {
            charlimit();
            inputkeyup();
            $('#btnCancel').click(function () {
                window.location = HousesUrl;
            });
        });

        //show the limit of char left
        function charlimit() {
            $("form :input").each(function () {
                var input = $(this); // This is the jquery object of the input, do what you will
                if (input.parent().find("span.span-char-left").length) {
                    input.parent().find("span.span-char-left").text((input.attr("maxlength")) - (input.val().trim().length));
                }
            });
        };

        //keyup event for all inputs
        function inputkeyup() {
            $("form :input").each(function () {
                var input = $(this);
                input.keyup(function () {
                    if (input.parent().find("span.span-char-left").length) {
                        input.parent().find("span.span-char-left").text((input.attr("maxlength")) - (input.val().trim().length));
                    }
                });
            })
        };

    </script>
}
