@model LYSAdmin.Model.Room
@{
    ViewBag.Title = "Rooms";

}
<link href='@Url.Content("~/Content/Custom/Rooms.css")' rel="stylesheet" />
<div class="row  border-bottom white-bg dashboard-header">
    <!--Center Content-->
    <div class="col-sm-12">
        @*<div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" type="button" tabindex="4">View All</button>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-10">
                <h3 class="m-t-none m-b">Add new Room</h3>
                @*<p>Add new Apartment today for more expirience.</p>*@
                <br />
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Add
                </button>
                <br/>
                <br/>
                <div class="row gray-bg" style="padding:10px">
                    <div class="col-md-5 room margin_4_pc">
                        <div class="row">
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_active"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-5 room col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_active"><i class="fa fa-bed fa-2x"></i></a></div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("AddRoom", "Estate", FormMethod.Post, new { role = "form", id = "add-room-form", style = "min-height:420px" }))
                {
                    <div class="saving-progress hidden"><h4>Saved!</h4></div>
                    <div class="form-group">
                      <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Room Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>House Name/Flat Number</label>
                                            @*<input type="text" placeholder="Enter house no" class="form-control input-large" maxlength="50" tabindex="2">*@
                                            @*@Html.TextBoxFor(m => m.RoomNumber, new { type = "text", placeholder = "Enter room number", @class = "form-control input-large", maxlength = "50", tabindex = "2" })*@
                                            <div class="row-space-top-1 max-character-entered"><span class="span-char-left">50</span> characters left</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Room Number</label>
                                            @*<input type="text" placeholder="Enter house no" class="form-control input-large" maxlength="50" tabindex="2">*@
                                            @Html.TextBoxFor(m => m.RoomNumber, new { type = "text", placeholder = "Enter room number", @class = "form-control input-large", maxlength = "50", tabindex = "2" })
                                            <div class="row-space-top-1 max-character-entered"><span class="span-char-left">50</span> characters left</div>
                                        </div>
                                        @*<div class="form-group">
                                            <label>Sharing Type</label>                                            
                                            @Html.TextBoxFor(m => m.SharingType, new { type = "text", placeholder = "Enter sharing type", @class = "form-control input-large", maxlength = "50", tabindex = "2" })
                                            <div class="row-space-top-1 max-character-entered"><span class="span-char-left">50</span> characters left</div>
                                        </div>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*</form>*@
                }
               
            </div>
        </div>
    </div>
    
</div>

@section scripts{

    <script>
        //reference url
        var HousesUrl = '@Url.Action("Houses","Properties")';

        $(document).ready(function () {
            charlimit();
            inputkeyup();
            $('#btnCancel').click(function () {
                window.location = HousesUrl;
            });

            //$.validator.unobtrusive.parse($("form"));
            //$('.btnSave').click(function () {
            //    $('#add-apartment-form').submit();
            //});
        });

        //show the limit of char left
        function charlimit() {
            $("form :input").each(function () {
                var input = $(this); // This is the jquery object of the input, do what you will
                if (input.parent().find("span.span-char-left").length) {
                    input.parent().find("span.span-char-left").text((input.attr("maxlength")) - (input.val().trim().length));
                }
                //alert(input.attr("type"));
            });
        };

        //keyup event for all inputs
        function inputkeyup() {
            $("form :input").each(function () {
                var input = $(this);
                input.keyup(function () {
                    if (input.parent().find("span.span-char-left").length) {
                        input.parent().find("span.span-char-left").text((input.attr("maxlength")) - (input.val().trim().length));
                    }
                });
            })
        };

    </script>
}
