*.dll
*.pdb
*.suo
LYSAdmin.Web/LYSAdmin.Web.v12.suo
LYSAdmin.Web/packages/*

LYSAdmin.Web/LYSAdmin.Web/bin/*
LYSAdmin.Web/LYSAdmin.Web/obj/*

LYSAdmin.Web/LYSAdmin.Data/bin/*
LYSAdmin.Web/LYSAdmin.Data/obj/*

LYSAdmin.Web/LYSAdmin.Domain/bin/*
LYSAdmin.Web/LYSAdmin.Domain/obj/*

LYSAdmin.Web/LYSAdmin.Model/bin/*
LYSAdmin.Web/LYSAdmin.Model/obj/*

LYSAdmin.Web/LYSAdmin.Web.Tests/bin/*
LYSAdmin.Web/LYSAdmin.Web.Tests/obj/*