@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div>
    <ul class="nav nav-tabs">
        <li class="active" id="settingTab">
            <a href="#">Settings</a>
        </li>
        <li id="basicInfoTab">
            <a href="#">Basic Information</a>
        </li>
        <li id="backgroundVerificationTab">
            <a href="#">Background Verification Details</a>
        </li>
        <li id="photoTab">
            <a href="#">Photo</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="row row-padding-top-5" id="settingTab">
            <div class="col-md-2">
                <h5>UserName</h5>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>


