<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-setttings">            
            <div class="title">City : @Session["CityName"].ToString()</div>
            @*<div class="setings-item default-skin">
                <span class="skin-name ">                   
                     City : @Session["CityName"].ToString()                   
                </span>                
            </div>
            <div class="setings-item default-skin">
                <span class="skin-name ">
                    Area : @Session["AreaName"].ToString()
                </span>
            </div>*@

            <div class="title">Area : @Session["AreaName"].ToString()</div>
            <div class="setings-item default-skin">
                <span class="skin-name ">                   
                    <input type="button" value="Change Location" id="btnChangeLocationSkin" style="width:100%"/>              
                </span>
            </div>            
        </div>
    </div>
</div>
