<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-setttings">            
            <div class="title">City</div>
            <div class="setings-item default-skin">
                <span class="skin-name ">                   
                        City                    
                </span>
            </div>
            <div class="title">Area</div>
            <div class="setings-item default-skin">
                <span class="skin-name ">                   
                        Area                   
                </span>
            </div>            
        </div>
    </div>
</div>